.banner {
  background-image: url("./../../assets/banner.png");
  padding-top: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5%;
}

.banner img {
  width: 100%;
  height: auto;
  display: block;
}

.banner .left > * {
  margin-bottom: 50px;
}

.banner .right > * {
  margin: 50px;
}

.banner .left {
  margin: auto;
  flex-wrap: wrap;
}

.banner .right {
  margin: auto;
}

.banner .event-details {
  flex-direction: column;
  justify-content: space-around;
}

.banner .event-title {
  font-size: 170%;
  margin-bottom: 30px;
}

.banner .event-title header {
  font-size: 200%;
  margin-bottom: 20px;
  width: 50px;
  font-weight: 600;
}

.banner .other-details > p {
  font-size: 24px;
  font-weight: 600;
  margin-top: 5%;
}

.banner .other-details i {
  color: #f37d47;
  font-size: 40px;
  margin-right: 15px;
}

.banner .live-streaming-txt {
  background-color: rgb(231, 65, 65);
  padding: 10px 20px;
  color: whitesmoke;
  border-radius: 20px;
  margin-top: 30px;
  width: 50%;
  text-align: center;
}

/* Speaker details  */

.banner .speaker-details img {
  width: 300px;
  margin: auto;
}

.banner .speaker-details {
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin: 0 auto;
}

.banner .speaker-name {
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
  width: 200px;
}
