.banner {
  padding-top: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5%;
  background-image: url("./../../assets/banner.png");
}

.banner img {
  width: 100%;
  height: auto;
  display: block;
}

.banner .left > * {
  margin-bottom: 50px;
  height: 50%;
}

.banner .right > * {
  margin: 0px 50px;
  margin: auto;
}

.banner .left {
  max-width: 60%;
}

.banner .right {
  margin: auto;
}

.banner .event-details {
  flex-direction: column;
}

.event-timing > div {
  font-size: 20px;
  font-size: 24px;
  font-weight: 600;
  margin-top: 5%;
}
.event-timing {
  min-width: 60%;
}
.agenda-list {
  font-size: 16px;
  list-style-type: none;
  margin: 0px;
}
.date {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
}
.agenda-icon {
  color: #f37d47;
  height: 100%;
  margin: auto 5px;
}
.banner .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.location {
  font-size: 17px;
}
.time {
  font-size: 17px;
}
.email {
  font-size: 17px;
}
.banner .event-title {
  font-size: 170%;
}

.banner .event-title header {
  font-size: 110%;
  margin-bottom: 20px;
  font-weight: 600;
}

.banner .other-details i {
  color: #f37d47;
  font-size: 20px;
  margin-right: 15px;
}

.banner .live-streaming-txt {
  background-color: rgb(231, 65, 65);
  padding: 10px 20px;
  color: whitesmoke;
  border-radius: 20px;
  margin-top: 30px;
  text-align: center;
  white-space: nowrap;
}

.banner .speaker-details img {
  width: 200px;
  margin: auto;
}
.speaker-img {
  border-radius: 50%;

  overflow: hidden;
  border: 10px solid #ff9430;
  margin-top: 20px;
}

.banner .speaker-details {
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin: 0 auto;
}
html {
  scroll-behavior: smooth;
}
.banner .speaker-name {
  font-size: 10px;
  text-align: center;
  font-weight: bolder;
  width: 200px;
}
.BannerRegisterButtonatTop {
  position: absolute !important;
  background: currentColor !important;
  border-radius: 10px !important;
  top: 123px !important;
  right: 10px !important;
  height: 70px !important;
  display: none !important;
  background-color: #ec720f !important;
  box-shadow: 5px 5px 5px gray;
  border-radius: 50% !important;
  cursor: pointer !important;
  padding: 10px !important;
}
.BannerRegisterButtonatTopinside {
  color: white !important;
  margin: 10px 5px 43px 5px !important;

  border-radius: 10px !important;
  display: none !important;
}
.crosebuttonoverregirter {
  background-color: transparent !important;
  z-index: 1;
  color: black !important;
  position: absolute !important;
  right: -11px;
  top: 108px;
}
.crossiconbutton {
  display: none !important;
}
.ArrowDownwardIcon {
  font-size: x-large;
}
@media screen and (max-width: 1000px) {
  .event-timing {
    margin-top: none;
  }
  .BannerRegisterButtonatTopinside {
    display: block !important;
  }
  .BannerRegisterButtonatTop {
    display: block !important;
  }
  .crossiconbutton {
    display: block !important;
  }
}
@media screen and (max-width: 540px) {
  .event-timing {
    margin-top: 10%;
  }
}
@media screen and (max-width: 360px) {
  .title {
    font-size: large;
  }
}
