.event-page-container {
  opacity: 2;
  background-color: #ffffff;
}
.userdashboardimage {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.imagecuntaner {
  position: relative;
}

.recentBannerImage {
  height: 90vh;
  width: 100%;
}
.recentImagecuntaner {
  position: relative;
}
.recentSpeckyfoxText {
  font-family: Poppins;
  font-size: 300%;
  margin: 1% 0px;
  color: rgb(6, 6, 6);
  position: absolute;
  top: 5%;
  left: 10%;
  right: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.recentwebinar {
  color: #ffbd06;
  margin: 0%;
  text-shadow: 2px 2px 2px rgb(114, 112, 112);
}
.recentSpeckyfoxTech {
  text-shadow: 1.5px 1.5px 1.5px rgb(131, 129, 129);
  color: #080808;
}
.recentSpeckyfoxTech2 {
  text-shadow: 1.5px 1.5px 1.5px rgb(131, 129, 129);
  color: white;
}
.recentdataitem1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconwithdata {
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
}
.iconcolor {
  color: #080808;
}
.textdate {
  color: #e77817;
}
@media screen and (max-width: 500px) {
  .recentSpeckyfoxText {
    font-size: 30px;
    top: 20%;
    margin: 0% 0%;
  }
}
