.event-page-container {
  opacity: 2;
  background-color: #ffffff;
}
.userdashboardimage {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.imagecuntaner {
  position: relative;
}

.recentBannerImage {
  height: 75vh;
  width: 100%;
}
.recentImagecuntaner {
  position: relative;
}
.recentSpeckyfoxText {
  font-family: Poppins;
  font-size: 300%;
  margin: 1% 0px;
  color: rgb(6, 6, 6);
  position: absolute;
  top: 5%;
  left: 10%;
  right: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.recentwebinar {
  color: #ffbd06;
  margin: 0%;
  text-shadow: 2px 2px 2px rgb(114, 112, 112);
}
.recentSpeckyfoxTech {
  text-shadow: 1.5px 1.5px 1.5px rgb(131, 129, 129);
  color: #080808;
}
.recentSpeckyfoxTech2 {
  text-shadow: 1.5px 1.5px 1.5px rgb(131, 129, 129);
  color: white;
}
.recentdataitem1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconwithdata {
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
}
.iconcolor {
  color: #080808;
}
.textdate {
  color: #e77817;
}
@media screen and (max-width: 500px) {
  .recentSpeckyfoxText {
    font-size: 30px;
    top: 20%;
    margin: 0% 0%;
  }
}
.BannerRegisterButtonatTop {
  position: absolute !important;
  background: currentColor !important;
  border-radius: 10px !important;
  top: 123px !important;
  right: 10px !important;
  height: 70px !important;
  display: none !important;
  background-color: #ec720f !important;
  box-shadow: 5px 5px 5px gray;
  border-radius: 50% !important;
  cursor: pointer !important;
  padding: 10px !important;
  animation-name: popup;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 4;
}
@keyframes popup {
  100% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(30deg);
  }
}

.BannerRegisterButtonatTopinside {
  color: white !important;
  margin: 10px 5px 43px 5px !important;
  border-radius: 10px !important;
  display: none !important;
}
@media screen and (max-width: 1000px) {
  .BannerRegisterButtonatTopinside {
    display: block !important;
  }
  .BannerRegisterButtonatTop {
    display: block !important;
  }
}
