.no-anchor-style {
  text-decoration: none;
  color: black;
}

.no-anchor-style-white {
  text-decoration: none;
  color: white;
}

.display-none {
  display: none;
}

.flex {
  display: flex;
}

.flex-jcc-aic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-aic {
  display: flex;
  align-items: center;
}

.flex-jcsb {
  display: flex;
  justify-content: space-between;
}

.flex-a {
  display: flex;
  align-items: center;
}
