.no-anchor-style {
  text-decoration: none;
  color: black;
}

.no-anchor-style-white {
  text-decoration: none;
  color: white;
}

.display-none {
  display: none;
}

.flex {
  display: flex;
}

.flex-jcc-aic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-aic {
  display: flex;
  align-items: center;
}

.flex-jcsb {
  display: flex;
  justify-content: space-between;
}

.flex-a {
  display: flex;
  align-items: center;
}

.custom-scroll {
  font-size: 10px;
  height: 80%;
  overflow: auto;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

.custom-scroll::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
}

div.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation6.MuiSnackbarContent-root.css-1eqdgzv-MuiPaper-root-MuiSnackbarContent-root {
  background-color: crimson;
}
