* {
  font-family: "DM Sans", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Rubik", sans-serif;
  font-family: "Ysabeau Infant", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
