@media screen and (max-width: 640px) {
  .navbar .nav-links {
    display: none;
  }

  .nav-hamburger {
    display: block;
  }

  .mob-navbar {
    display: block;
  }

  .logo img {
    font-size: 20px;
    height: 60px;
    margin-left: 10px;
  }

  .banner .speaker-details img {
    width: 70%;
  }
}

@media screen and (max-width: 1000px) {
  .banner {
    flex-wrap: wrap;
  }
}
