@media screen and (max-width: 640px) {
  .logo img {
    font-size: 20px;
    height: 60px;
    margin-left: 10px;
  }

  .banner .speaker-details img {
    width: 70%;
  }
}

@media screen and (max-width: 950px) {
  .banner .left {
    flex-wrap: wrap;
    max-width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .banner {
    flex-wrap: wrap;
  }

  .nav-hamburger {
    display: block;
  }

  .navbar .nav-links {
    display: none;
  }

  .top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .mob-navbar {
    display: block;
  }

  .about-body {
    width: 100%;
    padding: 10px 20px;
  }

  .backshape {
    height: 200px;
    width: 200px;
  }

  .imgcirclediv {
    height: 250px;
    width: 250px;
  }

  .banner .right > * {
    margin: 20px 10px;
  }
}

/* About section  */
/* 
@media screen and (max-width: 600px) {
  .top {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .backshape {
    height: 300px;
    width: 300px;
    color: #ec6e07;

    background-color: #ec6e07;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
  }
  .imgcircle {
    padding: 0px;
    border-radius: 50%;
    z-index: 1;
    height: 250px;
    width: 250px;
  }
  .about-body {
    width: 100%;
    margin: auto;
    text-align: justify;
    line-height: 1.6;

    font-size: 1.125rem;
    font-weight: 200;
  }
}
@media screen and (max-width: 36px) {
  .backshape {
    height: 250px;
    width: 250px;
    color: #ec6e07;

    background-color: #ec6e07;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
  }
} */
