.about-header {
  display: flex;
  justify-content: center;
  padding: 60px 0 20px 0;
  text-align: center;
  font-weight: bolder;
  font-size: 40px;
  color: rgb(98, 97, 97);
}
.top {
  display: flex;
  justify-content: space-between;
}
.about-body {
  width: 70%;
  margin: auto;
  text-align: justify;
  line-height: 1.6;
  padding: 10px 50px;
  font-size: 1.125rem;
  font-weight: 200;
}

.botmphoto {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  padding: 10px;
}
.backshape {
  height: 350px;
  width: 350px;
  background-color: #ff9430;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  margin-left: 20%;
}
.imgcircle {
  width: 100%;
}
.imgcirclediv {
  background-size: contain;
  width: 400px;
  height: 400px;
  margin-top: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.speaker-photo {
  position: relative;
  padding: 5%;
  margin: 0 5%;
}

#module {
  font-size: 1rem;
  line-height: 1.5;
}

#module #collapseExample.collapse:not(.show) {
  display: block;
  height: 3rem;
  overflow: hidden;
}

#module #collapseExample.collapsing {
  height: 3rem;
}

#module a.collapsed::after {
  content: "+ Show More";
}

#module a:not(.collapsed)::after {
  content: "- Show Less";
}
