.container {
  background-color: transparent;
  padding: 20px;
  margin: 0 auto;
  box-sizing: 0 0 5px rgba(0, 0, 0, 0.5);
}
.container p {
  line-height: 1.4;
  text-align: justify;
  margin: 10px;
}
#check {
  display: none;
  margin: 20px;
}

.content {
  visibility: hidden;
  display: none;
}
.more {
  display: inline-block;
  margin-top: 15px;

  text-decoration: underline;
  cursor: pointer;
  font-weight: 600;
  color: #e97b21;
}

.less {
  display: none;
  /* transition: max-height 2s ease; */
  overflow: hidden;
  max-height: 100px;
}
#check:checked ~ .content {
  visibility: visible;
  opacity: 1;
  transition: 2s linear;
  display: block;
}

#check:checked ~ .more {
  display: none;
}
#check:checked ~ .less {
  display: block;
}

.less p {
  color: #ec6e07;
}

.more P {
  color: #ec6e07;
}
