.login-container {
  max-width: 400px;
  margin: 15vh auto;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.login-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.login-container .form-group {
  margin-bottom: 20px;
}

.login-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.login-container .form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline-color: #f37d47;
}

.login-container button {
  margin-bottom: 10px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #f37d47;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease all;
}
.forgetpassword {
  margin-top: 10px;
}
.login-container button:hover {
  background-color: #f55f19;
}

.login-container button:active {
  background-color: #f55f19;
}

.mandatory-field {
  color: crimson;
  margin: 0 5px;
}
.forgot_password {
  text-decoration: none;
  float: right;
  margin: -8px 1px 10px;
  opacity: 0.7;
  font-size: smaller;
  cursor: pointer;
}
.forgot_password-back {
  margin: 76px 75px !important;
  opacity: 0.7;
  font-size: smaller;
  cursor: pointer;
  text-decoration: none;
}
