.nav-container {
  position: relative;
}

.navbar {
  color: #333;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.03);
  z-index: 1;
}

.logo img {
  font-size: 24px;
  height: 60px;
  font-weight: bold;
  margin-left: 60px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-right: 100px;
}

.nav-links li {
  margin-right: 50px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links li a {
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
}
.nav-links li {
  font-size: x-large;
}

.nav-links li a:hover {
  color: #f8a63e;
}

.nav-hamburger {
  font-size: 30px;
  margin: 0 30px;
  display: none;
}

.mob-navbar {
  z-index: 10;
  width: 50%;
  height: 40vh;
  border-radius: 12px;
  padding: 20px;

  right: 1px;
  top: 54px;
  font-size: 22px;
  position: absolute;
  background-color: white;

  transition: all ease 0.2s;
}

.mob-remove-dropdown {
  z-index: 10;
  width: 50%;
  height: 40vh;
  border-radius: 12px;
  padding: 20px;
  display: none;
  right: 1px;
  top: 54px;
  font-size: 22px;
  position: absolute;
  background-color: white;

  transition: all ease 0.2s;
}

.mob-navbar a {
  color: #333;
}

.mob-navbar ul {
  display: flex;
  list-style: none;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}
