/* event-form.css */
/* event-form.css */
.event-form-container {
  margin: 40px auto;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-width: 600px;
}

.event-form-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.event-form-container .form-group {
  margin-bottom: 20px;
}

.event-form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.event-form-container .form-group input,
.event-form-container .form-group textarea,
.event-form-container #active,
.event-form-container #activeHomePage,
.event-form-container #hours,
.event-form-container #minutes {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.event-form-container .form-group textarea {
  resize: vertical;
}

.event-form-container button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #f37d47;
  transition: 0.3s ease all;
  color: #fff;
  cursor: pointer;
}

.event-form-container button:hover {
  background-color: #f55f19;
}

.event-form-container button:active {
  background-color: #f55f19;
}
